[Unit]
Description=Razer Daemon Service

[Service]
Type=simple
ExecStart=/usr/bin/razer-service -F \
    --config %h/.razer-service/razer.conf \
    --pid-file %h/.razer-service/razer-service.pid \
    --log-dir %h/.razer-service/logs/
PIDFile=%h/.razer-service/razer-service.pid
RestartSec=5s

[Install]
WantedBy=default.target
